---
// Component Imports
import Main from '../layouts/main.astro';
import SplashPoster from '../components/SplashPoster.astro';
import Comparisons from '../components/Comparisons.astro';
import ContactUs from '../components/ContactUs.astro';
import RocketChart from '../components/RocketChart.astro';
import Astronaut from '../components/Astronaut.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Main>
	<SplashPoster />
	<Comparisons />
	<Astronaut />
	<!-- <RocketChart /> -->
	<ContactUs />
	<!-- <img src="craternaut.png" class="w-96 h-72"> -->
</Main>