---
// Component Imports
import Main from '../layouts/main.astro';
import SplashPoster from '../components/SplashPoster.astro';
import Comparisons from '../components/Comparisons.astro';
import Astronaut from '../components/Astronaut.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Main>
	<!-- <NavBar /> -->
	<SplashPoster />
	<Comparisons />
	<!-- <Astronaut />
		<div class="h-screen bg-white">Hello</div>
		<div class="h-screen bg-stone-400">World</div> -->	
</Main>