---
//Component Script Block


---
<!-- Component Template (HTML + JS Expressions) -->
<style>
  span {
    background-image: url("../space-bg.png");
    display:block;
  }
</style>
<div>
  <img src="tether.png">
  <img src="moonTelescope.png">
  <span class ="text-stone-100 text-3xl text-center pl-48">We believe that with a great developer experience, comes a great user experience. Combining the blazingly fast runtime of AstroJS and industry-standard metrics of Google Lighthouse, we created an industry first, astroSpeed.</span>
  <img src="astronaut.png">
</div>