---
// Click button, get confetti!
// Styled by Tailwind :)
const {color} = Astro.props;
const darkerColor = color.slice(0,-3) + (Number(color.slice(-3)) + 200);
// const darkerColor = 'bg-yellow-400'
// console.log(darkerColor)
const tailClass = `w-32 h-10 py-2 px-2 bg-${color} hover:bg-${darkerColor} text-stone-900 font-semibold rounded-lg`;
---

<button
	class={tailClass}
>
	<slot />
</button>

<!-- <script>
	import confetti from 'canvas-confetti';
	document.body.querySelector('button').addEventListener('click', () => confetti());
</script> -->
