---
//Component Script Block


---
<!-- Component Template (HTML + JS Expressions) -->

<style>
  @import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

  .xSpan {
    font-family: 'Kalam';
    position:relative;
    top: 10px;
  }

</style>

<div class="pt-16 pl-8 grid grid-cols-[repeat(4,minmax(0,1fr))_10px_repeat(4,minmax(0,1fr))] grid-rows-6 items-center">
  <p class="text-5xl text-[#3700a4] col-start-1 col-end-10 justify-self-center self-end">COMPARE YOUR CODE PERFORMANCE</p>

  <span class="text-4xl text-yellow-400 col-start-1 col-end-5 justify-self-center">Without</span>
  <span class="text-4xl justify-self-center m-0 p-0">vs.</span>
  <span class="text-4xl text-[#3700A4] col-start-6 col-end-10 justify-self-center break-all">astroSpeed</span>

  <span class="text-6xl text-yellow-400 xSpan justify-self-end pr-1">X</span>
  <span class="text-xl col-start-2 col-end-5">Only see metrics after your site is published</span>
  <span class="text-6xl text-[#3700A4] col-start-6 justify-self-end pr-2">&#10003;</span> 
  <span class="text-xl col-start-7 col-end-10">On-demand performance & SEO metrics</span>
  
  <span class="text-6xl text-yellow-400 xSpan justify-self-end pr-1">X</span>
  <span class="text-xl col-start-2 col-end-5">Forced to wait</span>
  <span class="text-6xl text-[#3700A4] col-start-6 justify-self-end pr-2">&#10003;</span> 
  <span class="text-xl col-start-7 col-end-10">Pivot faster with early insight</span>
  
  <span class="text-6xl text-yellow-400 xSpan justify-self-end pr-1">X</span>
  <span class="text-xl col-start-2 col-end-5">Low visibility to where your code needs improvement</span>
  <span class="text-6xl text-[#3700A4] col-start-6 justify-self-end pr-2">&#10003;</span> 
  <span class="text-xl col-start-7 col-end-10">Pinpoint least optimal code as you build</span>
  
  <span class="text-6xl text-yellow-400 xSpan justify-self-end pr-1">X</span>
  <span class="text-xl col-start-2 col-end-5">Time lost scanning pages of code</span>
  <span class="text-6xl text-[#3700A4] col-start-6 justify-self-end pr-2">&#10003;</span> 
  <span class="text-xl col-start-7 col-end-10">More control & visibility</span>
</div>

