---
//Component Script Block


---
<!-- Component Template (HTML + JS Expressions) -->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* body {
} */

div {
	font-family: 'Poppins', sans-serif;
}
</style>

<div class="h-screen bg-stone-100">
  <p>COMPARE YOUR CODE PERFORMANCE</p>
</div>