---
//Component Script Block
const {name, github, linkedin, picture} = Astro.props;

---
<!-- Component Template (HTML + JS Expressions) -->
<style>

  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@500&display=swap'); */
  .card {
    margin: 20px;
    padding: 8px;
    width: 200px;
    background-color: #FCFDF0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8%;
    flex-wrap: wrap;
  }

  .card img {
    display: block;
    width: 120px;
    height: 120px;
    border: 8px solid #fff;
    object-fit:cover;
    border-radius: 50%;
    border-color: black;
  }

  .card-info {
      padding: 15px 0 7px;
      text-align: center;
  }

  .card-info h6 {
      margin-bottom: 3px;
      font-size: 16px;
      font-weight: 900;
      font-family: 'Raleway', sans-serif;
      text-transform: capitalize;
  }

  .card-info span {
      margin-bottom: 5px;
      color: #888888;
      font-size: 13px;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
  }


  .card-info a {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: 8px 2px 0;
      color: #333333;
      /* background-color: #f7f7f7; */
      border-radius: 50%;
      font-size: 30px;
      text-decoration: none;
      line-height: 60px;
      transition: all 0.5s;
  }


  .card-info a:hover:nth-child(1) {
      color:#ffffff;
      background-color: #3700A4;
  }

  .card-info a:hover:nth-child(2) {
      color:#ffffff;
      background-color: #E4E684;
  }

</style>

<div class="card">
  <img src={picture} alt="Logo">
    <div class="card-info">
    <h6>{name}</h6>
    <span>Software Engineer</span>
    <div class="social-icon">
      <a href={github}><i class="fa-brands fa-square-github"></i></a>
      <a href={linkedin}><i class="fa-brands fa-linkedin"></i></a>
    </div>  
  </div>
</div>