---
// Component Imports
import Button from './Button.astro';
---

<div class="flex flex-wrap justify-between bg-black min-h-14 space-x-3 sticky top-0 items-center z-10">
  <div class="flex flex-none space-x-3 items-center">
    <a href ="/">
      <img src="./white-logo.png" class="h-14 w-14 hidden sm:inline">
    </a>
    <a href ="/getstarted">
      <Button color='stone'>GET STARTED</Button>
    </a>
    <a href="/watchdemo">
      <Button color='stone'>WATCH DEMO</Button>
    </a>
  </div>
  <div class="flex space-x-3 pr-4">
    <a href="https://github.com/oslabs-beta/astrospeed">
      <Button color='stone'>GITHUB</Button>
    </a>
    <a href="/login">
    <Button color='yellow'>LOGIN</Button>
  </a>
  </div>
</div>