

.navbar{
    width: 100%;
    height: 70px;
    background-color: rgb(242, 169, 160);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h1{
    color: white;
    font-size: 25px;
    margin-left: 20px;
}

.inside{
    
}

.form_container{
    background-color:rgb(128, 153, 237);
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.input{
    outline: none;
    border: solid;
    width: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(208, 199, 233);
    margin: 5px 0;
    font-size: 14px; 
}

.inputInsideContainer{
    outline: none;
    border: solid;
    width: 75%;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(208, 199, 233);
    margin: 5px 0;
    font-size: 14px;
}

.inputInsideContainer:hover{
    background-color: rgb(189, 176, 223);
}

.addresses{
background-color: lightgray;
border: 2px double black;
margin-bottom: 20px;
padding: 20px;

}


.white_btn{
    border: none;
    outline: none;
    padding:  12px 0;
    background-color: white;
    border-radius: 20px;
    width: 120px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-right: 20px;
}

.yours{
    margin-left: 30%;
    margin-top: 5%;
    
}

.green_btn{
    border: none;
    outline: none;
    padding:  12px 0;
    background-color: white;
    border-radius: 20px;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    margin: 10px 5px 5px 0px;
    cursor: pointer;
}
.span{
    font-weight: bold;
}

.green {
    background-color: rgb(0, 255, 127);
}

.red {
    background-color: red;
}

.dataTitle {
    font-weight: bold;
    font-size: 16px;
    font-family: system-ui;
}

.description {
    font-size: 12px;
    font-family: system-ui;
}

.mainItem {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.bottomData {
    margin-top: 10px;
}

.arrow {
    cursor: pointer;
    display: flex;
    justify-content: end;
}

.arrow::before{
    border-style: solid;
    border-width: 0.30em 0.30em 0 0;
    content: '';
    display: inline-block;
    height: 0.6em;
    left: 0.15em;
    top: 0.15em;
    vertical-align: top;
    width: 0.6em;
    transform: rotate(135deg);
}

.blinking{
	animation: blinker 1s infinite;
}
@keyframes blinker {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}